.donkey {
	font-family: monospace;
	background-color: #FF69B4;
	color: #FFFFFF;
	font-size: 18pt;
	padding: 10px;
  margin: 20px;
}

.yogurt {
  font-family: Times;
  font-size: 18pt;
  padding: 10px;
  margin: 20px;
}

/* We're about to deal with events, but here's a quick way to get a mouse rollover with CSS */
/* this is mostly used with a href */
.yogurt:hover {
  margin: 20px;
  background-color: #6981ff;
  color: #FFF;
}
